[run]
concurrency = multiprocessing
include = immunedb*

[report]
omit=immunedb/util/admin.py,immunedb/common/baseline.py,immunedb/exporting/selection.py,immunedb/exporting/genbank.tsv,immunedb/exporting/vdjtools.tsv
