[client]
port		= 3306
socket		= /run/mysqld/mysqld.sock

[mysqld]
datadir      = /share/mysql_data
bind-address = *
port		 = 3306
socket		 = /run/mysqld/mysqld.sock
skip-external-locking
max_allowed_packet = 32M
innodb_log_buffer_size=8M
innodb_flush_log_at_trx_commit=2
innodb_file_per_table
